*{
    padding: 0;
    margin: 0;
}


#logo-container{
    width: 140px;
    margin: auto;
    flex-direction: column;
    margin-bottom: 25px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo-container img{
    width: 64px;
    height: 64px;
}

.logo-text{
    font-family: 'Be Vietnam', sans-serif;
    font-size: 30px;
    position: relative;
    bottom: 5px;
}

.link-text{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    font-weight: 100;
}

#wrapper{
    display: flex;
    flex-direction: column;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    background-position-x: center;
}

header{
    margin-bottom: 100px;
}

#Content-container{
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 20px;
}

a {
    text-decoration: none;
}

#main-nav ul li a:hover {
    background-color: red;
}

#main-nav{
    margin-bottom: 33px;
    text-align: center;
    margin-left: 0px;
    display: flex;
}

#main-nav ul li {
    padding: 10px 0;
}

.social-icon-image-size:hover{
    background-color: white;
}

.social-icon-image-size{
    width: 20px;
    padding: 2px;
    height: 22px;
}

#clock {
    font-size: 1.5rem;
}

#supporters{
    margin-top: 25px; text-align: center;
    align-content: center;
}
